.cardproduct {
  background-color: #0a0a0a;
  color: #000000;
  .section-from-articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.3em;
    padding: .1em;
    .cont-article {
      margin-bottom: 2.6em;
      .article-header {
      background-color: #646464b4;
        max-width: 100%;
        margin-bottom: 9px;
        border-radius: 15px;
      box-shadow: 9px 9px 9px 7px;

        img {
          width: 100%;
        }
        .article-precio {
          background-color: #c2c2c2;
          padding: 0 0.3em;
          border-radius: 0 0 0 6px;
        }
      }
      .article {
       padding: .3em;
        display: flex;
        flex-direction: column;
        gap: .6em;
        color: #fff;
        font-weight: bold;
        h6{
          font-size: .9em;
          color: #686868;
        }
      }
    }
  }
}
