.hero {
  margin-bottom: 2em;
  .cont-hero {
    position: relative;
    width: 100%;
    height: 110vh;
    overflow: hidden;
    img {
      mask-image: linear-gradient(#000 1%, transparent);
      position: absolute;
      width: 100%;
    }
    .texto-hero {
      width: 100%;
      height: 50%;
      z-index: 45;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      color: #050505;
      font-size: 1.7em;
      padding: 1em;
      gap: 1em;
      .cube-container {
        perspective: 2800px;
        width: 100%;
        height: 100%;
        position: relative;
        color: #fff;
        padding: 1em 0 0 0;

        .cube {
          width: 100%;
          height: 0%;
          position: absolute;
          transform-style: preserve-3d;
          animation: rotateCube 8s infinite ease;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .face {
          position: absolute;
          width: 170px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0.8em;
          padding: 0.4em;
          backface-visibility: hidden;
        }
        .cara-uno {
          transform: rotateX(0deg) translateZ(25px);
          background-color: #ffffff0e;
        }
        .cara-dos {
          transform: rotateX(90deg) translateZ(25px);
          background-color: #ffffff0e;
        }
        .cara-tres {
          transform: rotateX(180deg) translateZ(25px);
          background-color: #ffffff0e;
        }
        .cara-cuatro {
          transform: rotateX(270deg) translateZ(25px);
          background-color: #ffffff0e;
        }
      }
    }
  }
}
@keyframes rotateCube {
  0% {
    transform: rotateX(0deg);
  }
  25% {
    transform: rotateX(90deg);
  }
  50% {
    transform: rotateX(180deg);
  }
  75% {
    transform: rotateX(270deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
