.modal {
  padding: 0.4em;

  .modal-cardproduct {
    color: #fff;
    font-size: 1.5em;

    .btn-back-modal-product{
        display: flex;
        align-items: center;
        gap: .3em;
    }
    .cont-modal-product {
      display: flex;
      flex-direction: column;
      gap: 1em;
      margin-top: 1.3em;
      img {
        width: 80%;
        margin: auto;
      }
    }
    .descripcion-modal-product {
      font-size: 0.7em;
      color: #7a7979;
    }
    .cont-preferencias-modal-product {
      margin-top: 1.8em;
      display: flex;
      flex-direction: column;
      gap: 1em;

      .label-talle-modal-product {
        font-size: 0.7em;
      }
      .select-talle-modal-product {
        width: 60px;
        padding: 0.4em;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        font-size: 0.7em;
      }
    }
    .cont-btn-modal-product {
      display: flex;
      justify-content: center;
      margin-top: 1em;
      padding: 1em;

      .btn-comprar-modal-product {
        padding: 1em;
        border-radius: 1em;
        border: none;
        font-weight: bold;
        background-color: #ffffff;
      }
    }
  }
  .payment-data {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: start;
    .errors-modal {
      color: red;
      font-size: 0.9em;
    }
    input {
      border: none;
      border-radius: 5px;
      padding: 0.5em;
    }
    .cont-direccion {
      display: flex;
      flex-direction: column;
      gap: 1em;
      .select-provincia-modal {
        border: none;
        border-radius: 5px;
        padding: 0.5em;
      }
    }
    .btn-pagar-modal-product {
      padding: 0.7em;
      border-radius: 1em;
      border: none;
      font-weight: bold;
      background-color: #ffffff;
    }
  }
}
