.modal {
  padding: 0.4em;

  .modal-cardproduct {
    color: #fff;
    font-size: 1.5em;

    .btn-back-modal-product{
        display: flex;
        align-items: center;
        gap: .3em;
    }
    .cont-modal-product {
      display: flex;
      flex-direction: column;
      gap: 1em;
      margin-top: 1.3em;
      img {
        width: 80%;
        margin: auto;
      }
    }
    .descripcion-modal-product {
      font-size: 0.7em;
      color: #7a7979;
    }
    .cont-preferencias-modal-product {
      margin-top: 1.8em;
      display: flex;
      flex-direction: column;
      gap: 1em;

      .label-talle-modal-product {
        font-size: 0.7em;
      }
      .select-talle-modal-product {
        width: 60px;
        padding: 0.4em;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        font-size: 0.7em;
      }
    }
    .cont-btn-modal-product {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      margin-top: 1em;

      .btn-comprar-modal-product {
        padding: .8em;
        font-size: .7em;
        border-radius: .3em;
        border: none;
        font-weight: bold;
        background-color: #ffffff;
      }
      .cont-botones-metodos-de-pago{
        border-top:1px solid #fff ;
        margin-top: .3em;
        padding-top: .9em;
        width: 90%;
      }
    }
  }
 
}

#form-checkout {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.container {
  height: 18px;
  display: inline-block;
  border: 1px solid rgb(118, 118, 118);
  border-radius: 2px;
  padding: 1px 2px;
  color: #000000;
  background-color: #fff;
}