.modal {
  padding: 0 0.4em 0.4em 0.4em;

  .modal-cardproduct {
    color: #fff;
    font-size: 1.5em;

    .btn-back-modal-product {
      display: flex;
      align-items: center;
      gap: 0.3em;
    }

    .cont-modal-product {
      display: flex;
      flex-direction: column;
      gap: 0.3em;
      margin-top: 0.3em;

      .modal-carrousel {
        position: relative;
        overflow: hidden;
        height: 18em;

        .cont-img-carrousel {
          position: absolute;
          display: flex;
          width: 100%;
          transition: 1s all ease;

          img {
            width: 100%;
          }
        }
        .cont-btns-carrousel {
          display: flex;
          justify-content: space-between;
          position: absolute;
          margin-top: 58%;
          width: 100%;

          span {
            font-size: 1.5em;
          }
        }
      }

      .precio-modal-product {
        font-size: 0.8em;
        font-weight: bold;
        color: #9e9d9d;
      }
    }

    .cont-preferencias-modal-product {
      margin-top: 1.8em;
      display: flex;
      flex-direction: column;
      gap: 1em;

      .section-botones-talles {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-top: 0.5em;
        gap: 0.6em;
        .header-seleccionar-talle {
          display: flex;
          justify-content: space-between;
          width: 100%;
          .talle-title {
            font-size: 0.7em;
          }
          .guia-talles {
            text-decoration: underline;
            font-size: 0.7em;
          }
        }
        .cont-botones-talles {
          display: flex;
          gap: 0.5em;
          .btn-talle {
            font-size: 0.8em;
            padding: 0.5em 1.5em;
            border: 1px solid #fff;
            color: #fff;
            border-radius: 5px;
            background: #0f0f0f;
          }
          .btn-talle-activo {
            background: #aaaaaa;
          }
        }
      }
      .cont-form-envio-desplegable {
        overflow: hidden;
        padding: 0.1em;
        transition: 0.5s all ease;
        font-size: 0.8em;
        display: flex;
        gap: 1em;

        .form-envio-desplegable-title {
          border: 1px solid rgb(255, 255, 255);
          padding: 1em 2.1em;
          .material-symbols-outlined {
            vertical-align: middle;
          }
        }
        .btn-cripto {
          border: 1px solid #fff;
          padding: 1em;
        }
      }
      .cont-info-adicional{
        display: flex;
        flex-direction: column;
        gap: 1em;
        font-size: .7em;
        color: #c2c1c1;
        .info-adicional{
          display: flex;
          gap: .5em;
          .camion-ventas{
            transform: rotateY(180deg);
          }
        }
        
      }
    }
    .cont-btn-modal-product {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      margin-top: 1em;

      .btn-comprar-modal-product {
        padding: 0.8em;
        font-size: 0.7em;
        border-radius: 0.3em;
        border: none;
        font-weight: bold;
        background-color: #ffffff;
      }
      .cont-botones-metodos-de-pago {
        margin-top: 0.3em;
        padding-top: 0.9em;
        width: 90%;
      }
    }

    .cont-form-encabezado-envio {
      padding-top: 3em;
      display: flex;
      flex-direction: column;
      gap: 1em;

      .cont-encabezado-forms {
        display: flex;
        flex-direction: column;
        gap: 0.3em;
      }
      .form-encabezado-envio-title {
        font-size: 0.8;
        border-bottom: 1px solid rgb(255, 255, 255);
        width: 80%;
      }
      .form-encabezado-subtitle {
        color: #4d4b4b;
        font-size: 0.7em;
        padding-top: 0.3em;
      }
      .btn-cambio-metodo-pago {
        border: none;
        font-size: 0.7em;
        padding: 0.3em;
        border-radius: 5px;
        width: 40%;
      }
      .cont-encabezado-info-pago {
        border-bottom: 1px solid rgb(255, 255, 255);
        width: 80%;

        .form-encabezado-title-pago {
          border-bottom: 1px solid rgb(255, 255, 255);
          margin-bottom: 8px;
        }
        .cont-form-encabezado-detalle {
          border-bottom: 1px solid #4d4b4b;
          display: flex;
          justify-content: space-between;
          margin: 0.5em 0;
          padding: 0.3em 0;
          .form-encabezado-pago-detalle-compra {
            font-size: 0.7em;
            padding: 1em 0;
          }
          .form-encabezado-pago-detalle-img {
            width: 20%;
          }
        }
      }
    }
    .btn-change-talle-pago {
      width: 100%;
      font-size: 0.8em;
      padding: 0.6em;
      border-radius: 5px;
      border: none;
      font-weight: bold;
      background: #0f0f0f;
      color: #fff;
      font-family: sans-serif;
    }
  }
  .cont-form-data-envio {
    outline: 1px solid #4d4b4b;
    padding: 2em 1em;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 5px;
    .input-form-data-envio {
      border: none;
      padding: 1em;
      border-radius: 5px;
    }
    .btn-form-data-envio {
      font-size: 1em;
      padding: 0.5em;
      border: none;
      font-weight: bold;
      border-radius: 5px;
    }
  }
  .cont-section-payment {
    display: flex;
    flex-direction: column;
    gap: 1.3em;
    .span-estas-comprando {
      color: rgb(255, 255, 255);
    }
    .cont-message-compra-exitosa {
      display: flex;
      flex-direction: column;
      gap: 2em;
      border: 1px solid rgb(49, 49, 49);
      padding: 2em 0;
      .message-compra-exitosa {
        border: 1px solid green;
        background: linear-gradient(#40fa5f, #000000);
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 1em;
        .btn-message-compra-exitosa {
          border: none;
          padding: 0.3em;
          font-weight: bold;
          border-radius: 5px;
        }
      }
    }
    .form-payment {
      outline: 1px solid #4d4b4b;
      padding: 1.5em 0.5em;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      gap: 0.7em;
      .container {
        color: #000;
        background-color: #fff;
        padding: 5px 8px;
        height: 33px;
        border: none;
        display: inline-block;
        border-radius: 4px;
      }
      .select-banco-emisor {
        visibility: hidden;
      }
      button {
        padding: 1em;
        border-radius: 5px;
        border: none;
        background-color: #cef8be;
      }
    }
  }
}
