.section-animation-intro{
    margin-bottom: 3em;
    color: #fff;
    padding: .5em;
    .cont-animation-intro{
        outline: 1px solid red;


        img{
            width: 60%;
        }
    }
}