.formenvio {
  background: linear-gradient(to top, #080808 10%, transparent 120%);
  font-family: sans-serif;
  transition: max-height 1s ease, padding 1s ease, opacity 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  overflow: hidden;
  color: #fff;
  padding: 0.5em 0 0.5em 0;
  max-height: 87em;
  position: relative;
}

.cont-formenvio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 0.2em 1.3em 0.2em;
  opacity: 1;

}
.texto-completed {
  color: #fff;
  position: absolute;
  width: 97%;
  border-radius: 5px;
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: all .5s;
  padding: 1em;
  background: linear-gradient(to right, #11c92a .9%, #0f5f0f 1%, #0a0a0a 3%);
}
.texto-completed__completados{
  color: #706f6f;
  font-size: .7em;
}
.btn-editar{
  border: 1px solid #fff;
  font-size: .7em;
  padding: .6em;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
}

.opacity {
  opacity: 1;
}

.opacityoff{
  opacity: 0;
  transition: opacity .8s ease-out;
 
}


.inicial {
  font-family: sans-serif;
  transition: max-height 1s ease, padding 1s ease, opacity 2s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  max-height: 0;
  justify-content: center;
  align-items: center;
}

.completed {
  font-family: sans-serif;
  transition: max-height 1s ease, padding 1s ease, opacity 2s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  max-height: 4em;
  justify-content: center;
  align-items: center;
  
}
.formenvio__total {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 0.8em;
  padding: 0 0.8em 1.3em 0.8em;
}
.formenvio__total-detalle {
  color: #706f6f;
}
.formenvio__comprando {
  font-size: 1.5em;
  margin-bottom: 0.2em;
}

.formenvio__inputs-direccion {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 1.5em 0 0 0;
  width: 100%;
}

.formenvio__inputs-contacto {
  display: flex;
  flex-direction: column;
  gap: 0.9em;
  width: 100%;
  padding: 0.5em;
  border-radius: 9px;
  border-left: 1px solid #2b2a2a;
}

.formenvio__inputs-direccion__datos {
  display: flex;
  flex-direction: column;
  gap: 0.9em;
  width: 100%;
  border-radius: 9px;
  border-left: 1px solid #2b2a2a;
  padding: 0.5em;
}

.formenvio__inputs-direccion__direccion {
  display: flex;
  flex-direction: column;
  gap: 0.9em;
  width: 100%;
  border-radius: 9px;
  border-left: 1px solid #2b2a2a;
  padding: 0.5em;
}

.formenvio__inputs-envio__codigoPostal {
  display: flex;
  flex-direction: column;
  gap: 0.9em;
  width: 100%;
  border-radius: 9px;
  border-left: 1px solid #2b2a2a;
  padding: 0.5em;
}
.formenvio__mensage-telefono {
  font-size: 0.5em;
  margin-top: -16px;
  color: #adadad;
}


.errores-formenvio {
  color: red;
  font-size: 0.6em;
  font-weight: 300;
}

.input-formenvio__select {
  padding: 1em;
  font-size: 0.8em;
  border: none;
  outline: none;
}

.input-formenvio {
  padding: 15px;
  font-size: 0.8em;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.formenvio__btn-submit {
  font-size: 1em;
  margin-top: 1em;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5em 1em;
  width: 90%;
  text-align: center;
}

.formenvio__mensage-socalo {
  font-size: 0.7em;
  color: #adadad;
  margin-left: 9px;
}
