.formpayment {
  overflow: hidden;
  transition:.7s max-height ease;
  max-height: 0;
}
.formpayment-open {
  max-height: 30em;
  background: linear-gradient(to top, #0a0a0a 10%, transparent 120%);
  overflow: hidden;
  transition: max-height 2s ease-in-out;
  border-radius: 5px;

}
.formpayment-titulo {
  color: #fff;
}

.cont-formpayment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(112, 111, 111);
}

.img-formpayment {
  width: 20%;
}
.formpayment-detalles {
  margin-top: 0.5em;
}

.formpayment-detalles-btn {
  border-left: 1px solid #fff;
  font-size: 1em;
  margin: 0 5px;
  padding: 0.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 0.6em 0.2em;
}

.formpayment-detalles-texto {
  padding: 0.8em 0.2em 0.2em 0.2em;
  transition: 1s max-height ease-in-out;
  max-height: 11em;
  overflow: hidden;
}

.texto-openclose {
  max-height: 0;
  transition: 1s max-height ease-in-out;
  overflow: hidden;
  padding: 0.2em;
}

.cont-btn-mercadopago {
  max-height: 105px;
  width: 320px;
  margin: 1.5em 0 0.3em 0;
  overflow: hidden;
  transition: 1s max-height ease-in-out;
  
}
.btn-mercadopago{
  transform: translateY(95%);
  opacity: 0;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

