.guia-de-talles {
  position: fixed;
  height: 100vh;
  width: 100%;
  font-family: monospace;
  transform: translateX(-2%);
  transition: 0.5s transform ease;
  background: linear-gradient(#00000007, transparent);
  top: 0;
  z-index: 80;
}

.slide {
  position: fixed;
  height: 100%;
  width: 100%;
  font-family: monospace;
  transform: translateX(100%);
  transition: 0.5s transform ease;
  top: 0;
  z-index: 80;
}

.section-guia-de-talles {
  height: 100%;
}

.cont-cuadro-img {
  background-color: #000000ab;
  position: absolute;
  padding: 0.3em;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(110px);
}
.seccion-talles-title {
  color: #ffffff;
  font-size: 1.7em;
}
.medidas-cuadro {
  padding: 2.2em;
  border-radius: 5px;
  position: relative;
  max-height: 27em;
  width: 100%;
}

.cuadro-img {
  display: grid;
  border-left: 1px dashed #ffffff;
  width: 100%;
  position: relative;
  background-color: #00000009;
  max-height: 22em;
  max-width: 21em;
  padding: .1em;
}
.cuello {
  width: 21%;
  border-top: 1px dashed #ffffff;
  position: absolute;
  top: -5px;
  left: 49%;
  transform: translate(-50%, -50%);
}
.manga {
  border-top: 1px dashed #fff;

  width: 19%;
  position: absolute;
  top: 40%;
  left: 82%;
  transform: rotate(-28deg);
}
.ancho-remera {
  width: 64%;
  border-top: 1px dashed #fff;
  position: absolute;
  bottom: -5px;
  left: 50.6%;
  transform: translate(-50%, -50%);
}

.medida-de-ancho {
  font-size: 0.8em;
  bottom: 0;
  position: absolute;
  z-index: 55;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -10%);
}

.medida-alto {
  position: absolute;
  font-size: 0.8em;
  left: 0;
  top: 50%;
  transform: translate(6%, -50%);
}
.medida-cuello {
  position: absolute;
  font-size: 0.7em;
  top: 1.2%;
  left: 50%;
  transform: translate(-50%, -5%);
}
.medida-manga {
  position: absolute;
  top: 49%;
  left: 84%;
  transform: translate(-50%, -50%);
  z-index: 55;
  font-size: 0.8em;
}

.img-remera-seccion-de-talles {
  z-index: 45;
  width: 100%;
  max-height: 23em;
  max-width: 24em;
}

.guia-talles-control-de-talles {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.8em;
  padding: 0.4em;
  gap: 0.2em;
}
.cont-de-botones {
  display: flex;
}
.btn-talles {
  font-size: 0.5em;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
  color: #000000;
  padding: 0.3em 1.4em;
}
.btn-back {
  font-size: 0.5em;
  border-radius: 5px;
  background: transparent;
  color: #fff;
  padding: 0.3em 4.8em;
  border: 1px solid #fff;
  margin-top: 2em;
}

.activo-guia {
  color: #949393;
  background-color: #111111;
}

.activate-guia{
  animation: forwards .4s talles ;
}


@keyframes talles {
  0%{
color: #333232;
  }
  50%{
    color: #e4e2e2;
  }
  60%{
color: #141414;
    
  }
  100%{
    color: #ffffff;

  }
}
