.modal {
  padding: 0 0.4em 0.4em 0.4em;
  background: #000000;
  font-family: sans-serif;
  overflow: hidden;
  max-width: 28em;
  margin: auto;
}

.modal .modal-cardproduct {
  color: #fff;
  font-size: 1.5em;
  margin-top: 2.5em;
}

.modal .modal-cardproduct .btn-back-modal-product {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.modal .modal-cardproduct .cont-modal-product {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  margin-top: 0.3em;
  position: relative;
}

.modal .modal-cardproduct .cont-modal-product .modal-carrousel {
  position: relative;
  overflow: hidden;
  max-height: 16em;
  max-width: 18em;
}

.modal
  .modal-cardproduct
  .cont-modal-product
  .modal-carrousel
  .cont-img-carrousel {
  display: flex;
  width: calc(400% / 2);
  transition: 0.5s all ease;
}
.modal
  .modal-cardproduct
  .cont-modal-product
  .modal-carrousel
  .cont-img-carrousel
  .div-img {
  display: flex;
  justify-content: center;
}

.modal
  .modal-cardproduct
  .cont-modal-product
  .modal-carrousel
  .cont-img-carrousel
  img {
  width: 80%;
}

.modal
  .modal-cardproduct
  .cont-modal-product
  .modal-carrousel
  .cont-btns-carrousel {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 100%;
}

.modal
  .modal-cardproduct
  .cont-modal-product
  .modal-carrousel
  .cont-btns-carrousel
  span {
  font-size: 1.5em;
}

.modal .modal-cardproduct .cont-modal-product .precio-modal-product {
  font-size: 0.8em;
  font-weight: bold;
  color: #9e9d9d;
}

.modal .modal-cardproduct .cont-preferencias-modal-product {
  margin-top: 0.8em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.openguia {
  filter: blur(45px);
}

.modal
  .modal-cardproduct
  .cont-preferencias-modal-product
  .section-botones-talles {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 0.5em;
  gap: 0.6em;
}

.modal
  .modal-cardproduct
  .cont-preferencias-modal-product
  .section-botones-talles
  .header-seleccionar-talle {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal
  .modal-cardproduct
  .cont-preferencias-modal-product
  .section-botones-talles
  .header-seleccionar-talle
  .talle-title {
  font-size: 0.7em;
}

.modal
  .modal-cardproduct
  .cont-preferencias-modal-product
  .section-botones-talles
  .header-seleccionar-talle
  .guia-talles {
  font-size: 0.7em;
  display: flex;
  align-items: center;
}

.modal
  .modal-cardproduct
  .cont-preferencias-modal-product
  .section-botones-talles
  .cont-botones-talles {
  display: flex;
  gap: 0.8em;
}

.modal
  .modal-cardproduct
  .cont-preferencias-modal-product
  .section-botones-talles
  .cont-botones-talles
  .btn-talle {
  font-size: 0.8em;
  padding: 0.5em 1.5em;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
  background: #0f0f0f;
}

.modal
  .modal-cardproduct
  .cont-preferencias-modal-product
  .section-botones-talles
  .cont-botones-talles
  .btn-talle-activo {
  background: #aaaaaa;
}

.modal
  .modal-cardproduct
  .cont-preferencias-modal-product
  .section-botones-talles
  .cont-botones-talles
  .btn-talle-animation {
  animation:tallesborder 2s forwards ;
}


.modal
  .modal-cardproduct
  .cont-preferencias-modal-product
  .cont-form-envio-desplegable {
  transition: 0.5s max-height ease;
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.modal
  .modal-cardproduct
  .cont-preferencias-modal-product
  .cont-form-envio-desplegable
  .btn-guia-desplegable {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.2em;
  height: 3em;
}
.btn-alternate{
background-color: #0f0f0f;
border: 1px solid #fff;
display: flex;
align-items: center;
gap:.7em;
width: 75%;
padding: .5em;
}

.button-multi-text{
  font-size: 1em;
  display: flex;
  text-wrap:nowrap;
}
.modal
  .modal-cardproduct
  .cont-preferencias-modal-product
  .cont-form-envio-desplegable
  .prueba-flecha {
  transition: 1.5s transform ease;
  transform: rotate(-90deg);
}

.modal
  .modal-cardproduct
  .cont-preferencias-modal-product
  .cont-form-envio-desplegable
  .arrow-rotate {
  transform: rotate(90deg);
}

.modal
  .modal-cardproduct
  .cont-preferencias-modal-product
  .cont-form-envio-desplegable
  .form-envio-desplegable-title {
  width: 76%;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  font-size: 1.1em;
}

.modal
  .modal-cardproduct
  .cont-preferencias-modal-product
  .cont-form-envio-desplegable
  .form-envio-desplegable-title
  .material-symbols-outlined {
  vertical-align: middle;
}

.modal
  .modal-cardproduct
  .cont-preferencias-modal-product
  .cont-form-envio-desplegable
  .activate {
  animation-name: buttonpay;
  animation-duration: 0.5s;
  animation-iteration-count: 4;
}

@keyframes buttonpay {
  0% {
    border: 1px solid #ffffff;
  }
  50% {
    border: 1px solid #555555;
  }
  100% {
    border: 1px solid #2c2c2c;
  }
}

.modal
  .modal-cardproduct
  .cont-preferencias-modal-product
  .cont-form-envio-desplegable
  .cont-btn-cripto {
  border: 1px solid #ffffff;
  padding: .98em;
  background: #0f0f0f;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}


.btn-add-carrito{
  font-size: 1.1em;
}

.btn-add-carrito-active{
  font-size: 1.1em;
  color: rgb(255, 255, 255);
}

.modal
  .modal-cardproduct
  .cont-preferencias-modal-product
  .cont-info-adicional {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 0.7em;
  color: #c2c1c1;
}

.modal
  .modal-cardproduct
  .cont-preferencias-modal-product
  .cont-info-adicional
  .info-adicional {
  display: flex;
  gap: 0.5em;
}

.modal
  .modal-cardproduct
  .cont-preferencias-modal-product
  .cont-info-adicional
  .info-adicional
  .camion-ventas {
  transform: rotateY(180deg);
}

.modal .cont-form-data-envio {
  padding: 1em 0.5em 1em 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  overflow: hidden;
  background: linear-gradient(#000 2%, #0f0f0f 20%);
  border-radius: 5px;
  transition: 1s max-height ease;
  height: 29em;
  
}
.cont-inputs-form-envio-nombres{
  outline: 1px solid rgb(100, 100, 100);
  padding: 8px ;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.modal .cont-form-data-envio .form-data-title {
  font-size: 0.9em;
}

.modal .cont-form-data-envio .btn-editar-form-envio {
  font-size: 0.8em;
  border: none;
  width: 30%;
  padding: 0.3em;
  border-radius: 5px;
  background: #0f0f0f;
  border: 1px solid #2c2c2c;
  color: #fff;
}

.modal .cont-form-data-envio .form-data-subtitle {
  color: rgb(117, 117, 117);
  font-size: 0.7em;
}

.modal .cont-form-data-envio .message-errors {
  color: red;
  font-size: 0.7em;
}

.modal .cont-form-data-envio .input-form-data-envio {
  border: none;
  padding: 1em;
  border-radius: 5px;
  width: 100%;
}

.modal .cont-form-data-envio .btn-form-data-envio {
  font-size: 0.8em;
  padding: 0.5em;
  border: none;
  font-weight: bold;
  border-radius: 5px;
}

.completado {
  animation: completedform 0.9s ease forwards;
}

@keyframes completedform {
  0% {
    max-height: 800px;
  }
  100% {
   max-height: 110px;
    background: #000000;
    border: 1px solid #2c2c2c;
  }
}

.modal .nones {
  display: none;
}

/* ...   Seccion de metodo de pago   ... */

.modal .cont-metodo-de-pago {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  background-color: #000000;
  border-radius: 5px;
  border: 1px solid #2c2c2c;
  overflow: hidden;
  padding-top: 1em;
}

.modal .cont-metodo-de-pago .title-cont-metodo-de-pago {
  margin-left: 5px;
}

.modal .cont-metodo-de-pago .cont-metodo-de-pago-info {
  padding: 0.3em;
}

.modal .cont-metodo-de-pago .metodo-de-pago-info {
  margin-top: 0.5em;
  font-size: 0.8em;
  max-height: 0;
  transition: 0.2s max-height ease;
  overflow: hidden;
  border-left: 1px solid #fff;
  padding-left: 0.4em;
}

.modal .cont-metodo-de-pago .cont-metodo-de-pago-info .btn-como-pagar {
  border-top: 1px solid #2c2c2c;
  border-left: 1px solid #2c2c2c;
  border-right: 1px solid #2c2c2c;
  border-bottom: 1px solid #2c2c2c;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
}
.info-active-btn-pagar {
  border-top: 1px solid rgb(255, 255, 255);
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
}

.modal .cont-metodo-de-pago .metodo-de-pago-info.info-active {
  max-height: 22em;
  margin-top: -1px;
  padding-top: 15px;
}

.modal .cont-metodo-de-pago .section-info-payment {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-top: 1px solid #747474;
  border-left: 1px solid #747474;
  padding: 1.5em 0.2em;
  position: relative;
}

.modal .cont-metodo-de-pago .section-info-payment .title-info-payment {
  color: #ffffff;
  background-color: #000000;
  padding: 0 5px;
  position: absolute;
  top: -15px;
}

.modal .cont-metodo-de-pago .section-info-payment .cont-info-payment {
  outline: 1px solid rgb(73, 73, 73);
  font-size: 0.9em;
  background-color: rgb(8, 8, 8);
  padding: 0.2em;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.3em;
  border-radius: 5px;
}

.modal
  .cont-metodo-de-pago
  .section-info-payment
  .cont-info-payment
  .img-info-payment {
  width: 21%;
}

.modal
  .cont-metodo-de-pago
  .section-info-payment
  .cont-info-payment
  .cont-detalle-info {
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  border-left: 1px solid #7c7c7c;
  padding: 0 0 0 0.3em;
}

.modal
  .cont-metodo-de-pago
  .section-info-payment
  .cont-info-payment
  .cont-detalle-info
  p {
  font-size: 0.8em;
}

.modal
  .cont-metodo-de-pago
  .section-info-payment
  .cont-info-payment
  .cont-talle-edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  width: 100%;
}

.modal
  .cont-metodo-de-pago
  .section-info-payment
  .cont-info-payment
  .cont-talle-edit
  .btn-edit-talle {
  border: 1px solid #363636;
  border-radius: 5px;
  padding: 0.4em 0.6em;
  font-size: 0.7em;
}

.modal .cont-metodo-de-pago .cont-btn-mercadopago {
  height: 110px;
  overflow: hidden;
  width: 100%;
  transition: 1s all ease;
  background-color: #000;
  height: 0;

}


.loading-pay {
  height: 110px;
  width: 100%;
}

.modal .animation-payment {
  animation: openMethodPay .5s ease-in forwards;
}

@keyframes openMethodPay {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 55em;
  }
}



@keyframes tallesborder {
  0% {
    border: 1px solid #ffffff;
  }
  10% {
    border: 1px solid #000000;
  }
  20% {
    border: 1px solid #ffffff;
  }
  30% {
    border: 1px solid #000000;
  }
  40% {
    border: 1px solid #ffffff;
  }
  50% {
    border: 1px solid #000000;
  }
  60% {
    border: 1px solid #ffffff;
  }
  70% {
    border: 1px solid #000000;
  }
  80% {
    border: 1px solid #ffffff;
  }
  90% {
    border: 1px solid #000000;
  }
  100% {
    border: 1px solid #ffffff;
  }
}