.navbar {
  padding: 0.4em 0.9em;
  background-color: #2e2e2e36;
  border-radius: 19px;
  color: #ffffff;
  font-family: sans-serif;
  margin: 8px;
  position: relative;
}

.cont-logo {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}

.animation-logo {
  animation: animation-logo 8s infinite;
}


@keyframes animation-logo {
  0% {
    color: #2e2e2e;
  }
  50% {
    color: #525252;
  }
  100% {
    color: #2e2e2e;
  }
}
.titulo-logo {
  font-size: 1.5em;
  font-family: monospace;
}

.icons-nav{
  font-size: 1.9em;
}

.navbar .cont-navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

.navbar .cont-navbar .icon-home {
  font-size: 1.8em;
}

.navbar .cont-navbar .titulo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .cont-navbar .titulo span {
  margin: 0 -0.1em;
  font-size: 1.5em;
}

.navbar .cont-navbar .ul-navbar-redes-sociales {
  margin-right: 0;
  list-style: none;
  font-size: 1.4em;
  display: flex;
  gap: 0.5em;
}
