.navbar {
  padding: 0.4em 0.9em;
  background-color: rgb(15, 15, 15);
  border-radius: 19px;
  color: #fff;
  cursor: pointer;
  font-family: sans-serif;
  margin: 8px;

}

.navbar .titulo-navbar {
  font-size: 2em;
}

.navbar .cont-navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

.navbar .cont-navbar .icon-home {
  font-size: 1.8em;
}

.navbar .cont-navbar .titulo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .cont-navbar .titulo span {
  margin: 0 -0.1em;
  font-size: 1.5em;
}

.navbar .cont-navbar .ul-navbar-redes-sociales {
  margin-right: 0;
  list-style: none;
  font-size: 1.4em;
  display: flex;
  gap: 0.5em;
}

.navbar .cont-navbar .btn-menu {
  font-size: 1.9em;
}

.navbar .cont-scroll-data .cont-moving img {
  width: 100%;
}

.navbar .opciones-catalogo-navbar {
  display: flex;
  gap: 0.3em;
  margin-bottom: 1.5em;
}

.navbar .opciones-catalogo-navbar p {
  background-color: #fff;
  color: #000;
  padding: 0.1em 0.6em;
  border-radius: 5px;
}
